{% extends 'base.html' %}


{% block head %}

<link href="/static/accounts/home.css" type="text/css" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css" rel="stylesheet"/>

    
{% endblock %}
 


 
{% block body %}
    {% block first %}
    
        <div class = "eznav">
            <li>
                <span id ="bcrumb"><a href="{% url 'home:home' %}">Blog</a></span><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
            </li>
        </div>
        {% for p in allposts %}
        <h1 class="text-uppercase"><a href="{% url 'home:view_blogpost_with_pk'  year=p.date.year month=p.date.month day=p.date.day slug=p.slug %}">
            {{p.title}}</a></h1>    
        <div id = "userclockcomment">
            <span id = "users"><i class="fa fa-user" aria-hidden="true"></i><a href="{% url 'accounts:view_profile_with_pk' pk=p.author.pk %}">
                {{p.author.username|title}}</a></span>
                <!-- |title is django template function yo capitalize first letter of username -->
            <span id = "clocks"><i class="fa fa-clock-o" aria-hidden="true"></i>{{p.date}}</span>
            <span id = "comments"><i class="fa fa-comment" aria-hidden="true"></i><a href= "{% url 'home:view_blogpost_with_pk' year=p.date.year month=p.date.month day=p.date.day slug=p.slug %}#wellcomments"></a> {{p.comment_set.count}} comments</span>      
        </div>                             
        <p>{{p.body|safe|truncatewords:"50"}}</p>
        <a id= "readmore" href="{% url 'home:view_blogpost_with_pk' year=p.date.year month=p.date.month day=p.date.day slug=p.slug %}"><button type = "button">Read more</button></a>
        <hr id = "horizontalrule">
        <br>
        {% endfor %}
        {% if allposts.has_other_pages %}
            {% load proper_paginate %}
            {% load link_name %}
            <ul class="pagination">
                {% if allposts.number == 1 %}
                    <li class="disabled"><span>⇤</span></li>
                {% else %}
                    <li><a href={{ request.get_full_path|link_name:1 }}>⇤</a></li>
                {% endif %}
                {% if allposts.has_previous %}
                    <li><a href={{ request.get_full_path|link_name:allposts.previous_page_number }}>&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator|proper_paginate:allposts.number %}
                    {% if allposts.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href={{ request.get_full_path|link_name:i }}>{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if allposts.has_next %}
                    <li><a href={{ request.get_full_path|link_name:allposts.next_page_number }}>&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                {% if allposts.number == paginator.num_pages %}
                    <li class="disabled"><span>⇥</span></li>
                {% else %}
                    <li><a href={{ request.get_full_path|link_name:allposts.paginator.num_pages }}>⇥</a></li>
                {% endif %}
            </ul>
        {% endif %}    
    {% endblock %}     
    {% block second %}
    

    {% endblock %}
{% endblock %}


{% block javascript %}
<script>$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});</script>
{% endblock %}

