*.pyc
.vscode/
/tutorial/settings/local.py
/config/nginx/
/config/db/dump.sql/


todo.txt
Deployment.txt
replacements.txt
logs/
bfg-repo-cleaner/
run/
nginx_signing.key
.env
tutorial.sql
for bg on login page.txt
nginx2.conf
nginx.conf
*.sql


