*.pyc
# Created by https://www.gitignore.io/api/Lib

#!! ERROR: lib is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/Lib

# Created by https://www.gitignore.io/api/.vscode

#!! ERROR: .vscode is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/.vscode
