

    {% block head %}
    <title>Login</title>
    {%endblock%}

    {%block body%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/accounts/login.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
    <script src="https://use.fontawesome.com/e8a74bbcce.js"></script>


        <div class="container">
            <h1>Mo's Blog</h1>
            <form method = "post">
            {%csrf_token%}
            {% load widget_tweaks %}
                <div class="form-group" id="username">
                 <label for="{{ username.id_for_label }}">{% render_field form.username class="form-control" placeholder="Enter Username" %}</label>
                </div>
                <div class="form-group" id="password">
                 <label for="{{ password.id_for_label }}">{% render_field form.password class="form-control" placeholder="Enter Password" %}</label>
                </div>
                <span><input type="submit" class="btn btn-info" value="LOGIN" id="submit"></span>
            </form>

            <a id="one" href="{% url 'accounts:reset_password' %}">Reset Password</a>
            <a id="two" href="{% url 'accounts:register' %}">Register</a>
            {% load static %}
            <a id = "social" href = "http://www.facebook.com"><img src="{% static "set/facebook.png" %}"/>
            <a id = "social" href = "http://www.twitter.com"><img src="{% static "set/twitter.png" %}"/>
            <a id = "social" href = "http://www.youtube.com"><img src="{% static "set/youtube.png" %}"/>
            <a id = "social" href = "http://www.linkedin.com"><img src="{% static "set/linkedin.png" %}"/>
            <a id = "social" href = "http://www.googleplus.com"><img src="{% static "set/google+.png" %}"/>
        </div>






    {%endblock%}


