{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}


{%block body%}
<link href="/static/accounts/profile.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<div class = "container">
    <div class = "col-x5-12">
    {% if messages %}
    {% for message in messages %}
    <div class = "" role = "alert">
        <center>{{ message }}</center>
    </div>
    {% endfor %}
    {% endif %}
<h1 class = "text-uppercase">Profile</h1>
<p>Username: {{user}}</p>
<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Description: {{ user.userprofile.description }}</p>
<p>Phone: {{ user.userprofile.phone }}</p>
<p>City: {{ user.userprofile.city }}</p>
<p>Website: {{ user.userprofile.website }}</p>
{% if user.userprofile.image %}
<img src="{{user.userprofile.image.url}}" width = "240">
{% endif %}
</div>
{%endblock%}