{%extends 'base.html'%}

    {%block body%}
    <link href="/static/accounts/reset_password.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <div class="container">
        <h1>Password reset</h1>
        <p>
           Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>

         <form method = "post">
            {% csrf_token %}
               {% load widget_tweaks %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                     <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control'}}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endfor %}
            <button id = "sub" type = "submit">Submit</button>
        </form>
    </div>
    {%endblock%}


