
#first{
    margin-top:40px;
} 

#first h1{
    font-family: 'Orbitron', sans-serif;
}

/* .row{
    border-style: dotted;
} */
.form-group{
    width:300px;
    font-family: 'Orbitron', sans-serif;
    font-size:12px;
    position:relative;



}
.form-group input[type=text]{
    font-size:12px;
    font-family: 'Orbitron', sans-serif;
}

.form-group input[type=email]{
    font-size:12px;
    font-family: 'Orbitron', sans-serif;
}
#sub{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    width:90px;
    height: 25px;
    text-align: center;
    line-height: 15px;
    padding:1px 1px;

}

