
.container{
    position:relative;
    box-sizing: border-box;
    min-height: 100vh;
}
    




.container h1{
    font-family: 'Orbitron', sans-serif;
    font-size:20px;
    font-weight:bold;
    position:relative;
    margin-top:15px;
    margin-bottom:15px;

}

.container p{
    font-family: 'Orbitron', sans-serif;
    font-size:12px;



}
