html, 
body {
  height: 100%;
} 
 
 body {
 padding-top: 90px; 
} 

.container{
    position:relative;
    box-sizing: border-box;
    min-height: 100vh;
}


.navbar.navbar-fixed-top{
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color:black;
    text-align:center;
    margin: 0px auto;
    
}


/*overwrite bootstrap standard to prevent navbar blocks turning white background on click*/

#lel{
    
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

#lel li a:hover{
    background-color:none;
}


ul.dropdown-menu{
    
    background-color:black;
    border:solid black 1px;
    
}

ul.dropdown-menu li a:hover{
    background-color:black;
    -webkit-filter: brightness(400%);
    filter: brightness(400%);

}
ul.dropdown-menu div #navhr {
    margin:0px;
    bottom:8px;
    position:relative;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgb(51, 153, 255), rgba(0, 0, 0, 0));

}

/* style breadcrumbs remove bullets */

li{
    list-style-type: none;
    padding-left: 0;
  
}​

li a {
    display: inline-block;
    
    
    
} 



/* Code icon LHS */


#brand{
    transition:ease 0.15s;
    transition-duration:0.5s;
}

#brand:hover{
    background-color:black;
    -webkit-filter: brightness(400%);
    filter: brightness(400%);
}

#brand:focus{
    background-color:black;
}

#brand:not(:hover){
    background-color:black;


}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgb(51, 153, 255), rgba(0, 0, 0, 0));
    max-width:625px;
}




.nav.navbar-nav.navbar-right li a{
    transition:ease 0.15s;
    transition-duration:0.5s;
}

.nav.navbar-nav.navbar-right li a:hover{
    background-color:black;
    -webkit-filter: brightness(400%);
    filter: brightness(400%);
    
}



.nav.navbar-nav.navbar-right li a :focus{
    background-color:black;

}

.nav.navbar-nav.navbar-right li a:not(:hover){
    background-color:black;

}




/* top bar social */




#social{
    transition:ease 0.15s;
    transition-duration:0.5s;
    transition: transform .2s;
}

#social:hover{
    background-color:black;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transform: scale(1.5);

    
}



#social:focus{
    background-color:black;

}

#social:not(:hover){
    background-color:black;

}


#social img{
    width:18px;
    height:18px;
    margin:10px;
    top:20px;
    left:30px;
    }




#archive{
    padding-top:25px;
    font-family: 'Abel', sans-serif;

    
}



@media only screen and (max-width: 768px) {
  
    #archive{
        padding:0px;
    
    }

    #menu{
        margin:0 auto;
    }

}  


footer{
    background-color: black;
    position: absolute;
    width: 100%;
    text-align:center;
    }
footer p{
    font-family: 'Abel', sans-serif;
    font-size:15px;
    color:grey;
    margin:0 auto;
    padding:2px;
    
    }


