<html>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/accounts/styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="utf-8">
    
    {% block head %}
    <title>Home</title>
    {% endblock %}

    <body>
        <nav class="navbar navbar-fixed-top">
         <div class="container-fluid">
            {% if user.is_authenticated %}
             <div class="navbar-header">
                 <div class="navbar-brand">
                 {% load static %}
                     <a id = "brand" href="{% url 'home:home' %}"><i class="fa fa-code fa-lg"  aria-hidden="true"></i></a>
                 </div>
             </div>

             <ul class="nav navbar-nav navbar-right">   
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></a>
                     <ul class="dropdown-menu">
                         <div class="w3-container w3-center w3-animate-left">
                         <hr id="navhr">
                         </div>
                         <li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
                         <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                         <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
                         <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                     </ul>
                 </li>
             </ul>
           
            {% endif %}   
         </div>
        </nav>

        <div class = "row">
            <div class="container"> 
                <div id = "first" class ="col-md-10">
                    {% block first %}{% endblock %}
                </div>
                <div id = "second" class = "col-md-2">
                    <form action="{% url 'home:search' %}" method="get">
                        <input type="search" id="title" name="title" placeholder="Search..."/>
                        <input type="submit" value="Submit">
                    </form>
                <hr>
                    <select name="menu" id="selection">
                        <option selected disabled>Archive</option>
                        {% for i,v in s %}
                            <option value="{% url 'home:blogpost_month_archive' year=v month=i %}"><a href="{% url 'home:blogpost_month_archive' year=v month=i %}">{{i}} {{v}}</a></option>
                        {% endfor %}   
                    </select>
                <hr>
                    

                    {% block second %}{% endblock %}
            
                </div>
            </div>
        </div>
       

              
                




          
       
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/cdfd602f6e.js"></script>
        <script src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#selection").change(function() {
                    location = $("#selection option:selected").val();
                });
            });
        </script>
        {% block javascript %}
        {% endblock %}
        <footer>
            <p>© MRK 2018</p>
        </footer>
    </body>
</html>


